
.logo{
  z-index: 1;
}

.toggleMenu{
  z-index: 1;
}

.menu{
    /* transition-property: width; */
    transition-duration: 1s;
    transition-timing-function: ease-out;

    /* transition-delay: 1s; */
    z-index: 0;
}

.icons {
  transition-duration: 0.2s;
  transition-timing-function: ease-out;

}